.BlogPostCard_content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Article-link {
	cursor: pointer;
	width: 100%;
	color: unset;
	text-decoration: none;
	display: flex;
	justify-content: center;
}
.BlogPostCard {
	margin: 16px 0 !important;
}
.BlogPostCard_content.content-inner {
	width: 100%;
	height: 100%;
	position: relative;
}
.BlogPostCard_content .content-inner h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 18px;
}
.BlogPost_text p {
	font-size: 14px;
}

@media only screen and (max-width: 1028px) {
	.Article-link,
	.Article-link.BlogPostCard {
		max-width: 600px !important;
	}
}

@media only screen and (max-width: 680px) {
	.Article-link,
	.BlogPostCard {
		max-width: 440px !important;
	}
}
@media only screen and (max-width: 480px) {
	.Article-link,
	.BlogPostCard {
		width: 100% !important;
		max-width: 345px !important;
	}
}
@media only screen and (max-width: 320px) {
	.Article-link,
	.BlogPostCard {
		width: 100% !important;
		max-width: 300px !important;
	}
}
