.gr-footer {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 20px 30px 12px;
	border-top: 1px solid #dadada;
}

.gr-footer.dark-theme span {
	color: #ffffff;
}
.gr-footer.light-theme span {
	color: #101012;
}

.gr-footer span {
	font-family: 'Gilroy Light' !important;
	font-size: 18px;
	line-height: 16px;
}

.gr-footer .links {
	margin-left: auto;
}

@media only screen and (max-width: 680px) {
	.gr-footer {
		height: 55px;
		padding: 0 13px 0 10px;
		align-items: center;
	}

	.gr-footer span.desktop-only {
		display: none;
	}

	.gr-footer span {
		font-size: 12px;
	}
}
