.blog-wrapper {
	background: linear-gradient(
		to left top,
		#070709,
		#09090b,
		#0a0a0c,
		#0c0c0e,
		#0d0d0f,
		#0f0f11,
		#101012,
		#121214,
		#141416,
		#161618,
		#18181a,
		#1a1a1c
	);
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-wrapper .wr-gradient {
	width: 100%;
	height: 100%;
}

.blog-wrapper .Blog {
	max-width: 1000px;
	margin: 65px auto;
}

.Blog-navbar {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 40px;
}
.Blog-navbar a {
	text-decoration: none;
	color: unset;
}
.Create-Article-form .CreatePostForm {
	max-width: 930px;
	margin-top: 0;
}

@media only screen and (max-width: 1028px) {
	.blog-wrapper .Blog {
		max-width: 650px;
	}
}

@media only screen and (max-width: 680px) {
	.blog-wrapper .Blog {
		max-width: 485px;
	}
}

@media only screen and (max-width: 485px) {
	.blog-wrapper .Blog {
		max-width: 375px;
	}
}
